{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Details des produits
{% endblock %}

{% block body %}
  <h2>{{ produits.label }}</h2>
  <h3>Ajouté le {{ produits.dateAdd | date('d-m-Y') }}</h3>
  <ul>
    {% if produits.description %}
      <li>Description : {{ produits.description }}</li>
    {% endif %}
    {% if produits.categories %}
      <li>Catégorie : {{ produits.categories.label }}</li>
    {% endif %}
    <li>Prix : {{ produits.price }} $</li>
    <li>Stock : {{ produits.stock }}</li>
  </ul>
{% endblock %}

